html {
  cursor: url("./cursor-inner.png") 3 3, default;
}
.ako-cursor-container {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.ako-cursor-container .ako-cursor-inner,
.ako-cursor-container .ako-cursor-outer,
.ako-cursor-container .ako-cursor-effect {
  position: fixed;
  border-radius: 50%;
}
.ako-cursor-container .ako-cursor-outer {
  z-index: 999999;
  width: 36px;
  height: 36px;
  border: 1px solid #747171;
  transition: background-color 0.3s, width 0.3s, height 0.3s;
}
.ako-cursor-container .ako-cursor-effect {
  opacity: 0;
  z-index: 999998;
  width: 80px;
  height: 80px;
  border: 4px solid #ffffff;
}
