button.gray {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(128, 128, 128);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

button.green {
  background-color: rgba(0, 0, 0, 0.1);
  color: lightgreen;
  border: 2px solid lightgreen;
}
button.yellow {
  background-color: rgba(0, 0, 0, 0.1);
  color: yellow;
  border: 2px solid yellow;
}
button.coral {
  background-color: rgba(0, 0, 0, 0.1);
  color: lightcoral;
  border: 2px solid lightcoral;
}
button.red {
  background-color: rgba(0, 0, 0, 0.1);
  color: red;
  border: 2px solid red;
}
.floatInfo {
  background-color: aliceblue;
  min-width: 80px;
  min-height: 40px;
  padding: 4px;
  user-select: text;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  text-align: center;
  border-radius: 8px;
}
.delete-btn {
  border-radius: 50%;
  transform: translate(-15px, 0);
  width: 20px;
  height: 20px;
  background-image: url("./delete.png");
  background-size: cover;
  border: 0;
}
