html {
  background-color: rgb(142, 186, 195);
}
p {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.total-box {
  width: 90%;
  max-width: 500px;
  height: 24px;
  margin-left: 24px;
  background-color: white;
  border: 3px solid rgb(255, 59, 59);
}
.sum-box {
  height: 24px;
  background-color: rgba(255, 59, 59, 0.458);
  max-width: 100%;
}
.buttonBox {
  display: inline-block;
}
button {
  user-select: none;
  font-size: 16px;
  font-weight: bold;
  cursor: url("./components/cursor-inner.png") 3 3, default;
}
.class-btn {
  border-radius: 6px;
  border: 0;
  min-height: 60px;
  min-width: 140px;
  padding: 4px 10px;
  margin: 8px;
  display: inline-block;
  position: relative;
  transition: transform 0.1s ease-in-out;
}
