body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
    font-family: 'Noto Sans SC', sans-serif;
}

#game-board {
  background-color: #00EBFF;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-image: url("seagull.png");
  background-size: cover;
  border: 0.5vmin solid #00FF21;
}

.food {
  background-image: url("food.png");
  background-size: cover;
  border: 0.5vmin solid red;
}

button{
  background-color: #1773EC;
  border: 0;
  border-radius: 10px;
  color: white;
  
}
#UandD{
  display: flex;
  flex-direction: column;
}
#restart{
  padding: 24px;
  font-size: 32px;
}
.dir{
  font-size: 24px;
  margin: 8px;
  padding: 16px;
}