/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap");
html {
  font-size: 24px;
  /* Google fonts 输出的 CSS */
  font-family: "Noto Sans SC", sans-serif;
  background-color: #9cf7ff;
}
h1 {
  font-size: 32px;
  text-align: center;
  color: black;
}
h2 {
  font-size: 24px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
.link {
  font-size: 20px;
  margin: 10px 20px;
}
body {
  padding: 0 50px 50px 50px;
}

.box {
  width: 95w;
  border: 1px solid black;
  margin: 5vh auto;
  padding: 0 20px 20px 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.327);
}
