/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap");
html {
  font-size: 24px;
  /* Google fonts 输出的 CSS */
  font-family: "Noto Sans SC", sans-serif;
  background-color: #f4f4f4;
}
h1 {
  font-size: 32px;
  text-align: center;
  padding: 20px 0px;
  color: black;
}
h2 {
  font-size: 24px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
.link {
  font-size: 20px;
  margin: 10px 20px;
}
body {
  padding: 0 50px 50px 50px;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  flex-wrap: wrap;
}
.box {
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
